{% extends 'main/base.html' %}

{% block title %}Реєстрація{% endblock %}

{%block content %}
<div>
  <div>
    <div>
      <h1>Реєстрація</h1>
    </div>

    <div class="p-8">
      <form method="post">
        {% csrf_token %}

        <div>
          <label>{{ form.username.label }}</label>
          <input type="text" name="username" value="{{ form.username.value|default:'' }}" required>
          {% if form.username.errors %}
          <span>{{ form.username.errors }}</span>
          {% endif %}
          {% if form.username.help_text %}
          <small>{{ form.username.help_text }}</small>
          {% endif %}
        </div>

        <div>
          <label>{{ form.password1.label }}</label>
          <input type="password" name="password1" required>
          {% if form.password1.errors %}
          <span>{{ form.password1.errors }}</span>
          {% endif %}
          {% if form.password1.help_text %}
          <small>{{ form.password1.help_text }}</small>
          {% endif %}
        </div>

        <div>
          <label>{{ form.password2.label }}</label>
          <input type="password" name="password2" required>
          {% if form.password2.errors %}
          <span>{{ form.password2.errors }}</span>
          {% endif %}
          {% if form.password2.help_text %}
          <small>{{ form.password2.help_text }}</small>
          {% endif %}
        </div>

        <button type="submit">Зареєструватися</button>
      </form>

      <p>
        Вже маєте акаунт? <a href="{% url 'accounts:login' %}">Увійти</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}