{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% tailwind_css %}
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header-top">
          <h1>Shop</h1>

        <div class="header-buttons">
          {% if user.is_authenticated %}
            {% if user.is_staff %}
              <a href="{% url 'admin:index' %}" class="btn-secondary">Адмін панель</a>
            {% endif %}
            <a href="{% url 'accounts:profile' %}" class="btn-secondary">Профіль</a>
            <a href="{% url 'accounts:logout' %}" class="btn-danger">Вийти</a>
          {% else %}
            <a href="{% url 'accounts:login' %}" class="btn-secondary">Вхід</a>
            <a href="{% url 'accounts:register' %}" class="btn-submit">Реєстрація</a>
          {% endif %}
        </div>
      </div>

      <nav>
        <ul>
          <li><a href="{% url 'main:product_list' %}" class="sort-btn">Всі продукти</a></li>
          {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}" class="sort-btn">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

      <main class="main">{% block content %} {% endblock %}</main>
    </div>
  </body>
</html>