{% extends 'main/base.html' %}
{% load shop_tags %}

{% block title %} 
    {% if search_query %} 
        Пошук: {{ search_query }} 
    {% elif category %}
        {{ category.name }} 
    {% else %} 
        Каталог товарів
        {% endif %}
    {% endblock %}
 
{% block content %}
    <h1 class="products-title">
        {% if search_query %} 
            Результати пошуку 
        {% elif category %} 
            {{ category.name }}
        {% else %} 
            Каталог товарів 
        {% endif %}
    </h1>
    {% include 'main/components/search-form.html' %}
    <div class="sort-buttons">
        <a href="?sort=new{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="sort-btn {% if current_sort == 'new' %}active{% endif %}">Спочатку нові</a>
        <a href="?sort=old{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="sort-btn {% if current_sort == 'old' %}active{% endif %}">Спочатку старі</a>
        <a href="?sort=popular{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="sort-btn {% if current_sort == 'popular' %}active{% endif %}">Спочатку популярні</a>
        <a href="?sort=price_low{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="sort-btn {% if current_sort == 'price_low' %}active{% endif %}">За ціною(спочатку дешеві)</a>
        <a href="?sort=price_high{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="sort-btn {% if current_sort == 'price_high' %}active{% endif %}">За ціною(спочатку дорогі)</a>
        <a href="?sort=name{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="sort-btn {% if current_sort == 'name' %}active{% endif %}">За назвою</a>
    </div>
    {% show_popular_products 4 %}

    <div class="products-grid">
        {% for product in products %}
            {% include 'main/components/product.html' %}
        {% empty %}
            {% include 'main/components/notfound.html' %}
        {% endfor %}
    </div>
    {% include 'main/components/pagination.html' %}
{% endblock %}
